body{
  font-family: 'Roboto', sans-serif;
  background : #f1f1f1;
}
.listItem{
  border-radius: .5rem;
  border-left: solid 1rem;
  font-size: 1.125rem;
  height: 84px;
  &__status{
    font-size: 1.2rem;
  }
}